.metadata/*
communication/*
cxf-exam*/*
example-*/*
gps-service/*
issue-service/*
orchestration/*
testBPEL/*
mato/*
ivan/*
testProcess/*
employee-info-service/target/classes/*
employee-list-service/target/classes/*
register-info-service/target/classes/*


